
  
#header .navbar{
  position: absolute;
  z-index: 1;
}


.navbar-light .navbar-nav .nav-link {
    color: #f8f9fa;
}

.navbar-nav{
  float: right !important;
}


#header .carousel-inner img{
        width: 100%;
        object-fit: cover;
        height: 500px;

}





.contacts{
    background-color: #ffffff;
    border: solid 0.5px #ccc;
    width: 85%;
    margin: auto;
    height: 100px;
    border-radius: 15px;
    margin-top: -50px;
    box-shadow: 1.4px -1.4px 9.2px 0.8px rgba(0,0,0,0.15);
    position: relative;
}







 /*section welcome*/

 .welcome img{
   width: 100%;
   margin: auto;
 }
 .content{
   width: 85%;
   margin: auto;
 }

 .welcome{
   background-color: #f2f4fb;
   padding-top: 90px;
   padding-bottom:40px; 
   margin-top: -50px;
   
 }


 .col-lg-4{
  padding-top: 35px;
  padding-left: 70px;
 }

 /*section servises*/


 .cervises img{
   width: 100%;
   height: 80%;
 }

 .cervises_top{
  text-align: center;
  margin: auto;
  width: 70%;
  padding-bottom: 40px;
 }

 .cervises h3{
   text-align: center;
   font-family: Playfair Display, times, serif; 
   padding: 5px;
 }

 .cervises{
   padding: 40px 0;
}

/*section slide*/

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
  margin-right: -60px !important;
  color: #000;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
  margin-left: -60px !important;
  color: #000;

}
.carousel-control.left, .carousel-control.right{
  background-image: linear-gradient(to right,#f8f9fa 0,rgba(0,0,0,.0001) 100%) !important;
}
.carousel-control.right{
  background-image: linear-gradient(to left,#f8f9fa 0,rgba(0,0,0,.0001) 100%) !important;
}



.slide_top, .bg_image_top{
    text-align: center;
    margin: auto;
    width: 55%;
    padding-bottom: 10px;
}

/*section bg_image*/


.bg_image{
  background-image: url("images/tourist/anna\ yerevan.jpg");
  background-repeat: no-repeat;
  background-size: 1600px;
  width: 100%;
  height: auto;
  background-position: center;
  color: #fff;
  background-attachment: fixed;


}

.bg_image .d-block{
  color: #ffba5a ;
}

.bg_image .opacity_bg_image{
  background-color: #0e3032b5;
  background-repeat: no-repeat;
  background-size: contain;


}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a, .nav-tabs{
  border: none !important;
  font-weight: bold;
}

.bg_image .nav-tabs>li>a{
  color: #ffba5a !important;
  background-color: #fff0;

}

.nav-tabs>li.active>a,  .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  border-bottom: solid 1px #fff !important;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active{
  background-color: #27090900 !important;
  color: #fff !important;
}
.nav-tabs>li.active>a:hover{
  color: #fff !important;

}

.nav-tabs>li>a:hover{
  background-color: #27090900 !important;
  color: #c07609 !important;
  border-bottom: solid 2px #fff;
}

.bg_image ul{
  justify-content: center;
}

.nav-tabs>li{
  display: inline-block;
}

.bg_image h2{
  padding-top: 30px;
  margin-top: inherit !important;
}


/*section events*/
.img_events{
  width: 85%;
  height: 70%;
}

.events_top .bg_image_top {
  text-align: center;
  margin: auto;
  width: 55%;
  padding-bottom: 10px;
}

.events p{
  line-height: 25px;
}


.events{
  background-color: #e9ecef;
  padding-top: 1px;
  padding-bottom: 150px;
}

.events_top{
    text-align: center;
    margin: auto;
    width: 70%;
    padding-bottom: 40px;
}

/*section overlay*/
.section_overlay{
  background-image: url("images/tourist/anna\ yerevan.jpg");
  background-repeat: no-repeat;
  background-size: 1600px;
  width: 100%;
  height: 700px;
  background-position: center;
  color: #fff;
  background-attachment: fixed;
  padding-top: 1px;
  
}

.overlay_opacity{
  background: #00000061;
  height:300px;
}

.overlay_footer{
  background: #000;
  height: auto;
}




.section_overlay .content{
  padding-top: 50px;
}

.section_overlay .btn{
  float: right;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 15px 40px;
  font-size: 15px;
  color: #fff;
}

.section_overlay h2{
 font-family:  "Playfair Display", times, serif;

}

.d-block{
  color: #fff;
  font-style: italic;
}

.form_control{
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0;
  color: #fff;
}

.overlay_footer .btn{
  background: none;
  border: none;
}



.overlay_footer p{
  color: rgba(255, 255, 255, 0.5);
  line-height: 30px;
  font-size: 18px;
}

.overlay_footer li a{
  color: rgba(255, 255, 255, 0.5);
  line-height: 30px;
  font-size: 18px;
}

.overlay_footer .icons{
  float: right !important;
}

.fa{
  color: #c07609;
}

.Colorlib a{
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.icons .fa{
  color: #fff;
  font: normal normal normal 14px/1 FontAwesome;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: inherit;
  line-height: 1;
  font-family: FontAwesome;
  float: right;
}

.btn .fa{
  color: #fff;
}

.fas{
  padding: 7px;
}
.footer_butten{
  padding-bottom: 30px;
}